@font-face{font-family:'GothamCondensed';src:url(font/GothamCondensed-Medium.woff2) format("woff2"),url(font/GothamCondensed-Medium.woff) format("woff");font-display:swap}
.C0l{color:#efefef}
.C0fll{fill:#efefef}
.C0bkl{background-color:#efefef}
.C0stl{stroke:#efefef}
.C0d{color:#101010}
.C0fld{fill:#101010}
.C0std{stroke:#101010}
.C1{color:#208b8b}
.C1fl{fill:#208b8b}
.C1bk{background-color:#208b8b}
.C1br{border-color:#196b6b!important}
.C1st{stroke:#208b8b}
.C2{color:#196b6b}
.C2fl{fill:#196b6b}
.C2br,.C2br_hov:hover{border-color:#196b6b}
.C2bk,.C2bk_hov:hover{background-color:#196b6b}
.C2st{stroke:#196b6b}
.C3l{color:#454545}
.C3fll{fill:#454545}
.FLDl:-webkit-autofill{-webkit-text-fill-color:#454545}
.C3d{color:#b3b3b3}
.C3fld{fill:#b3b3b3}
.FLDd:-webkit-autofill{-webkit-text-fill-color:#b3b3b3}
.C4{color:rgba(203,10,10,.9)!important}
.C4br{border-color:rgba(203,10,10,.9)!important}
.C4bk{background-color:rgba(203,10,10,.9)}
.C4fl{fill:rgba(203,10,10,.9)}
.C4st{stroke:rgba(203,10,10,.9)}
.C5{color:rgba(95,155,45,.9)}
.C5bk{background-color:rgba(95,155,45,.9)}
.C5fl{fill:rgba(95,155,45,.9)}
html,body{border:0;height:100%;margin:0;min-height:100%;padding:0;width:100%}
body{-webkit-overflow-scrolling:touch;overflow-y:auto}
p{margin:0;padding:0;padding-top:10px}
a:focus{outline:0}
b,.bold{font-weight:700}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;width:100%}
.scroll{display:block;margin-left:auto;margin-right:auto;max-width:1100px;overflow-x:auto}
td{text-align:left;white-space:nowrap}
*{-webkit-tap-highlight-color:transparent}
header,section{margin:0;padding:0}
.LR50{left:25%;position:relative;width:50%}
.LR80{left:10%;position:relative;width:80%}
.LR85{left:7.5%;position:relative;width:85%}
.W95{width:95%}
.shim4{margin:4px 0}
.shim10,.shimtop10{margin-top:10px}
.shim10{margin-bottom:10px}
.shim20,.shimtop20{margin-top:20px}
.shim20{margin-bottom:20px}
.ROW0{background-color:transparent}
.ROW1{background-color:rgba(5,5,5,0.05)}
.ROW0:hover,.ROW1:hover{background-color:rgba(5,5,5,0.1)}
.WingPanel{margin-left:25px;position:relative;width:calc(100% - 50px)}
.WingPanel table td{padding:5px 4px;white-space:nowrap}
#WorkerSortName,#WorkerSortRate,.WingBtnL,.WingBtnR,.WingLblL{border-radius:50%;box-sizing:border-box;height:24px;left:0;margin-left:-29px;padding:4px;position:absolute;top:3px;width:24px}
#WorkerSortRate,.WingBtnR{left:100%;margin-left:5px}
#WorkerSortName{margin-left:-5px}
#WorkerSortRate{margin-left:-20px}
.o3{opacity:.3}
.o7{opacity:.7}
.o8{opacity:.8}
.rot90{-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.rot180{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.rot270{-ms-transform:rotate(270deg);-webkit-transform:rotate(270deg);transform:rotate(270deg)}
.right{text-align:right}
.center{text-align:center}
.min{padding-left:10px;width:1px}
.trunc{padding-left:10px;width:100%}
.TDPadS td{padding:3px}
.hide{display:none!important}
.clear{clear:both}
.SplitL,.SplitR,.BoxL,.BoxR{box-sizing:border-box;display:inline-block;padding:0 3px;width:50%}
.Split3L,.Split3R,.Split3{box-sizing:border-box;display:inline-block;padding:0 3px;width:33%}
.txtbig,.txtmed{font:28px 'GothamCondensed',san-serif}
.txtmed{font-size:20px}
.txt,.txttny,.txtsmall{font:14px/18px Tahoma,Helvetica,sans-serif}
.txtsmall{font-size:13px;line-height:16px}
.txttny{font-size:10px;line-height:12px}
input:focus,select:focus{outline-color:transparent;outline-style:none}
input:-moz-focusring,select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000}
#MinerCalcFld,#MinerCalcUnit,#MinerCalcHsh,#HashSelect{border:0;height:18px;margin:0 1px;padding:2px 1px}
.FLDl,.FLDd{background-color:#efefef;border:0;display:inline-block;padding:8px 5px 7px;width:calc(100% - 4px)}
.FLDl:-webkit-autofill,.FLDl:-webkit-autofill:hover,.FLDl:-webkit-autofill:focus,.FLDl:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px #efefef inset!important}
.FLDd:-webkit-autofill,.FLDd:-webkit-autofill:hover,.FLDd:-webkit-autofill:focus,.FLDd:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px #101010 inset!important}
.select-point{height:10px;position:absolute;right:0;top:11px;width:10px}
#AddrRecent select,#HeadMenu select{-moz-appearance:none;-webkit-appearance:none;appearance:none;border:none;outline:none}
.btnback,#DashPayBtn,#Timer,#TogMode{-moz-box-shadow:inset 0 -2px 5px 0 rgba(0,0,0,.06);-webkit-box-shadow:inset 0 -2px 5px 0 rgba(0,0,0,.06);background-color:rgba(19,19,19,.03);box-shadow:inset 0 -2px 5px 0 rgba(0,0,0,.06);overflow:hidden}
.nopoint{cursor:default!important}
.BtnElem,.noselect{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none}
.BtnElem,.FrmElem,.BtnDisc{border:0;box-sizing:border-box;display:inline-block;padding:5px 3px;position:relative;text-align:center}
.BtnDisc{border-radius:50%}
.BtnElem,.FrmElem{border-radius:5px}
.BtnElem.DiscMde{padding-left:18px}
.BtnElem .DiscIcon{border-radius:50%;box-sizing:border-box;height:22px;left:5px;padding:4px;position:absolute;top:5px;width:22px;z-index:2}
.Btn16Corner,.Btn24Corner,.Btn32Corner{left:100%;margin-left:-18px;position:absolute;top:2px;z-index:3}
.Btn24Corner{margin-left:-28px;top:4px}
.Btn32Corner{margin-left:-34px;top:4px}
.Btn16,.Btn24,.Btn32{box-sizing:border-box;cursor:pointer;display:inline-block;padding:4px}
.Btn16{height:16px;padding:1px;width:16px}
.Btn24{height:24px;padding:2px;width:24px}
.Btn32{height:32px;width:32px}
.LoadCon{height:30px;left:50%;margin-left:-15px;margin-top:-15px;position:absolute;top:50%;width:30px}
.Loader,.preload{-moz-animation:spin 1s linear infinite;-webkit-animation:spin 1s linear infinite;animation:spin 1s linear infinite}
.C0bkd,.FLDd{background-color:#101010}
.C1fl_hov:hover,.C1flim{fill:#208b8b!important}
svg,#WorkerSortRate .preload{height:100%;width:100%}
.o5,.Btn16:hover,.Btn24:hover,.Btn32:hover,.nav:hover,.hov:hover,.PagBtn:hover{opacity:.5}
select,.select-point,.nav,.hov,.C2br_hov,.C2bk_hov,.PagBtn{cursor:pointer}
@-moz-keyframes spin {
100%{-moz-transform:rotate(360deg)}
}
@-webkit-keyframes spin {
100%{-webkit-transform:rotate(360deg)}
}
@keyframes spin {
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.hbar,.pbar{background:rgba(0,0,0,.2);background:linear-gradient(90deg,rgba(0,0,0,.01) 0,rgba(0,0,0,.25) 15%,rgba(0,0,0,.35) 50%,rgba(0,0,0,.25) 85%,rgba(0,0,0,.01) 100%);height:1px;position:relative}
.pbar{left:10%;margin-bottom:2px;margin-top:2px;opacity:.6;width:80%}
#TblPagBox{margin:0 5px;position:relative;top:-3px;width:18px}
#PageSize,#BlockType{margin:0 1px;position:relative;top:-3px}
.chart .line{stroke-width:.7}
.chart .mineravgline{stroke-dasharray:4;stroke-width:1}
.ToolTip{cursor:pointer}
.Tip_TmeBx,.Tip_ValBx{stroke-width:.5}
#MinerGraph .ToolTip{cursor:default;fill:transparent}
.GAlert,#GPop{border-radius:5px;border-style:solid;border-width:1px;box-sizing:border-box;position:absolute;top:50%;z-index:9999}
.GAlert{margin-left:25%;margin-right:25%;margin-top:-23px;padding:4px;width:50%}
#GPop{height:53px;left:5%;margin-top:-27px;padding:4px;width:40%}
#GPop.pright{left:55%}
#GPop table td{text-align:center;width:33%}
#MinerGraph{position:relative}
#MinerGraph .mchart{height:150px}
#MinerGraph .MinerMsg{padding-top:25px;text-align:center}
header{height:44px}
#HeadLogo{cursor:pointer;height:20px;margin-left:10px;position:absolute;top:15px;width:128px}
#HeadMenu,#TogMode,#Timer,#TimerRefresh,#TimerLoader{box-sizing:border-box;height:32px;left:100%;padding:5px;position:absolute;top:9px;width:32px}
#HeadMenu{border:0;margin-left:-180px;overflow:hidden;text-align:right;top:9px;width:85px}
#HeadMenu select{box-sizing:border-box;padding:0 14px 0 5px}
#TogMode,#Timer,#TimerRefresh,#TimerLoader,#TimerPie,#TimerDisc{border-radius:50%}
#TogMode{margin-left:-85px}
#Timer{margin-left:-44px;padding:3px}
#TimerDisc,#TimerText{height:88%;left:6%;position:absolute;top:6%;width:88%}
#TimerText{line-height:20px;padding-top:1px;text-align:center;z-index:1}
#TimerText .C4fl{padding-bottom:1px}
#TimerRefresh,#TimerLoader{left:0;top:0;z-index:9}
#TimerLoader{z-index:10}
#Addr{margin:19px 0}
#Addr td{padding:3px;text-align:center}
#Addr .SplitL{width:calc(100% - 305px)}
#Addr .SplitR{width:300px}
#AddrRecent{position:relative;width:60px}
#AddrRecent select{padding:1px 11px 1px 3px;width:100%}
#AddrRecent .select-point{height:8px;right:0;top:5px;width:8px}
#AddrFieldCell{height:34px;position:relative}
#DashDue,#DashPaid{min-width:97px}
#DashPayBtn{border-radius:50%;box-sizing:border-box;display:inline-block;height:45px;padding:8px;position:relative;width:45px}
#DashPayBtn .Loader,#DashPayBtn .Closer,#TimerText div{box-sizing:border-box;padding:3px}
#Stage{-moz-transition:opacity .4s ease-in;-ms-transition:opacity .4s ease-in;-o-transition:opacity .4s ease-in;-webkit-transition:opacity .4s ease-in;min-height:calc(100% - 312px);opacity:0;position:relative;transition:opacity .4s ease-in}
#Stage.short{min-height:calc(100% - 140px)}
.StageFade{opacity:1!important}
#News{background:linear-gradient(0deg,rgba(19,19,19,0.05) 0%,rgba(19,19,19,0) 50%)}
#NewsCard,#NewsBody{box-sizing:border-box}
#NewsCard{border:1px solid rgba(0,0,0,.3);border-radius:5px;min-height:40px;padding:9px 38px 9px 10px;margin-bottom:10px}
#NewsTime{float:right;padding-top:4px}
#NewsBody{padding:10px 0 15px}
#MinerDash{margin-bottom:10px}
#MinerDash .Spl{display:inline-block;text-align:center;width:50%}
#MinerPayments{border-bottom:1px solid rgba(0,0,0,.25);height:0;overflow:hidden;position:relative;transition:height 300ms}
#MinerPayments.Opened{height:280px}
#MinerPayments.OpenedBig{height:580px}
#MinerPayments .LR85{height:calc(100% - 1px)}
#MinerPaymentsStage{height:calc(100% - 1px);position:relative}
#WebMinerBtn{height:20px;width:120px}
#MinerSetupShowBtn,#MinerSetupHideBtn{height:32px;width:50%}
#AutoPayFld,#EmailFROM,#EmailTO{border-style:solid;border-width:1px;height:22px;padding:3px;width:90%}
#AutoPayBtn .preload{display:inline-block;height:22px;width:22px}
#MinerPaymentsStage table{border-color:rgba(0,0,0,.1);border-style:solid;border-width:0 1px;padding:3px}
table.noborder{border-width:0!important}
.WorkerWrap{box-sizing:border-box;float:left;height:65px;padding:5px 4px;position:relative;width:20%}
.Worker,#WorkerPop{border-radius:3px;border-style:solid;border-width:1px}
.Worker .LblL,.Worker .LblR{box-sizing:border-box;display:inline-block;height:30px;padding:2px 3px 4px;text-align:left;width:50%}
.Worker .LblL{width:calc(100% - 75px)}
.Worker .LblR{text-align:right;width:75px}
.WorkerChart{height:26px;position:relative}
#WorkerPop{border-radius:4px;box-sizing:border-box;height:95px;left:0;margin-left:-5px;margin-top:-1px;padding:6px 1px;position:absolute;top:100%;width:calc(100% + 10px);z-index:2}
.WBlockFewGrid{width:50%!important}
.clearfix{overflow:auto}
#PageTopL,#PageTopR{box-sizing:border-box;display:inline-block;height:50px;padding:14px 0 10px;position:relative;width:calc(100% - 245px)}
#PageTopL{min-width:300px}
#PageTopR{float:right;width:240px}
#PageBot{min-height:200px}
.helpgroup{margin-top:20px;padding-bottom:10px;padding-left:25px}
.helpgroup2{margin-top:10px;padding-bottom:5px;padding-left:50px}
.helptitle,.helptitle2{color:#208b8b;cursor:pointer;display:inline-block;fill:#208b8b;position:relative}
.helptitle:hover,.helptitle2:hover{color:#196b6b;fill:#196b6b}
.helptitle .btnback{border-radius:50%;box-sizing:border-box;height:26px;margin-left:-33px;padding:3px;position:absolute;top:-2px;width:26px;z-index:2}
.helptitle2 .btnback{border-radius:50%;box-sizing:border-box;height:20px;margin-left:-26px;padding:3px;position:absolute;top:-2px;width:20px;z-index:2}
.helpteaser,.helpcontent{margin-top:5px}
.footer{bottom:0;left:0;position:relative;width:100%}
#FootL,#FootR{box-sizing:border-box;display:inline-block;padding-top:4px}
#FootL{padding-left:10px;width:200px}
#FootR{padding-right:9px;position:absolute;top:4px;width:calc(100% - 205px)}
#FootR .nav{text-transform:uppercase}
#MinerGraph,#MinerPayments{-moz-box-shadow:inset 0 25px 16px -22px rgba(0,0,0,.06);-webkit-box-shadow:inset 0 25px 16px -22px rgba(0,0,0,.06);box-shadow:inset 0 25px 16px -22px rgba(0,0,0,.06)}
#MinerGraph .chart,.Worker,#MinerPayments{background:rgba(0,0,0,.03);background:linear-gradient(90deg,rgba(0,0,0,.04) 0,rgba(0,0,0,.02) 20%,rgba(0,0,0,.01) 80%,rgba(0,0,0,.03) 100%)}
#TimerPie,.Worker{height:100%;position:relative}
#AutoPayBtn,#PaymentHistoryBtn,#BlockPaymentHistoryBtn,#PaymentHistoryBtnClose,#EmailSubscribeBtn{height:32px;width:95%}
#MinerPaymentsTable,#WorkerList{min-height:100px}
@-webkit-keyframes glowing {
50%{-webkit-box-shadow:0 0 20px #196b6b;background-color:#196b6b}
0%,100%{-webkit-box-shadow:0 0 3px #208b8b;background-color:#208b8b}
}
@-moz-keyframes glowing {
50%{-moz-box-shadow:0 0 20px #196b6b;background-color:#196b6b}
0%,100%{-moz-box-shadow:0 0 3px #208b8b;background-color:#208b8b}
}
@-o-keyframes glowing {
50%{background-color:#196b6b;box-shadow:0 0 20px #196b6b}
0%,100%{background-color:#208b8b;box-shadow:0 0 3px #208b8b}
}
@keyframes glowing {
50%{background-color:#196b6b;box-shadow:0 0 20px #196b6b}
0%,100%{background-color:#208b8b;box-shadow:0 0 3px #208b8b}
}
.glow{-moz-animation:glowing 1500ms infinite;-o-animation:glowing 1500ms infinite;-webkit-animation:glowing 1500ms infinite;animation:glowing 1500ms infinite}
textarea{resize:none}
@media all and (max-width:1300px) {
.WorkerWrap{width:25%}
}
@media all and (max-width:1100px) {
.LR80{left:9%;width:82%}
.txt{font-size:14px}
}
@media all and (max-width:900px) {
.txtbig{font-size:24px}
.txtmed{font-size:18px}
.txtsmall{font-size:12px;line-height:15px}
#MinerPaymentsStage{left:10%;width:80%}
.condte{width:75px}
.consmall,.continy{width:90px}
.continy{width:50px}
.WorkerWrap{width:33.33%}
#MinerGraph .mchart{height:175px}
#DashDue,#DashPaid{width:80px}
#GPop{width:50%}
#GPop.pright{left:45%}
.LR50{left:20%;width:60%}
.LR80{left:8%;width:84%}
.LR85{left:6.5%;width:87%}
.Split3{padding:6px 0;width:100%!important}
#MinerPayments.Opened{height:350px}
#MinerPayments.OpenedBig{height:650px}
.Split3L,.Split3R{padding:6px 0;width:50%!important}
}
@media all and (max-width:750px) {
.helpcontent{width:100%}
.WorkerWrap{width:50%}
#MinerGraph .mchart{height:150px}
#GPop{width:60%}
#GPop.pright{left:35%}
.LR80{left:7%;width:86%}
.LR85{left:5.5%;width:89%}
.SplitL,.SplitR{padding:6px 0;width:100%!important}
#Addr{margin:19px 0 14px}
#Stage{min-height:calc(100% - 380px)}
}
@media all and (max-width:600px) {
#HeadLogo span{font-size:33px;letter-spacing:-1px}
.txtsmall{font-size:11px;line-height:14px}
#MinerPaymentsStage{left:5%;width:90%}
.condte{width:70px}
.consmall,.continy{width:85px}
.continy{width:50px}
.WBlockFewGrid{width:100%!important}
.LR50{left:10%;width:80%}
.LR80{left:6%;width:88%}
.LR85{left:4.5%;width:91%}
}
@media all and (max-width:500px) {
#HeadLogo span{font-size:33px;letter-spacing:-1px}
#GPop{width:70%}
#GPop.pright{left:25%}
.WorkerWrap{width:100%}
.LR80{left:4%;width:92%}
.LR85{left:2.5%;width:95%}
#MinerPayments.Opened{height:430px}
#MinerPayments.OpenedBig{height:730px}
.Split3L,.Split3R{padding:6px 0;width:100%!important}
}
svg .txtmed{font-size:20px}